* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: #eef4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  color: #334155;
  padding: 20px;
  border-bottom: 4px solid #52bbf0;
  font-family: 'Roboto';
  font-size: 40px;
}

.place-list-container {
  padding-left:0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
}
